/*
	font family -> untuk mengatur jenis font
	font-size -> untuk ukuran font
	font-weight -> untuk ketebalan font
	font-variant -> untuk mengubah font menjadi small caps
	font-style -> mengubah font menjadi cetak miring
	line-height -> mengatur spasi antar baris


	font-family terdapat 2 jenis value, yaitu nama font dan generic family

*/
h1 {
	color: blueviolet;
	font-family: arial, verdana, sans-serif;
	font-size: 60px;
	/*bisa gunakan persen, dan "em"*/

	/*font-weight: normal;*/
	/*lighter,normal,100-900,bold,bolder*/

	font-variant: small-caps;
	/*normal, small-caps*/

	font-style: oblique;
	/*normal,italic,oblique*/
	/*klo oblique, memaksa font menjadi miring, jika font family nya itu tidak ada jenis font italic*/


}

p {
	/*font-style: italic;
	font-variant: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;
	font-family: georgia, serif;*/
	/*bisa digantikan dengan shorthand agar menjadi lebih ringkas*/

	font: italic normal bold 16px/60px helvetica,arial,san;
	/*property yang wajib adalah font size dan font family pada atribut font*/
	/*codepen.io*/
}