/*
	pseudo-class yang berhubungan link


	:link
	style default pada sebuah link (a yg memiliki href)

	:hover
	style ketika kursor mouse berada diatas sebuah link / elemen

	:active
	style ketika sebuah link di-klik (keadaan aktif)

	:visited
	style ketika sebuah link sudah pernah dikunjungi sebelumnya(menggunakan browser yang sama)

*/

.hello:link {
	color: orange;
}

.hello:hover {
	font-family: arial;
	font-size: 30px;
	color: green;
}

.hello:active {
	font-style: italic;
}

.hello:visited {
	color: red;
}

/*
	pseudo-class yang berhubungan dengan posisi elemen (1)

	:first-child
	memilih elemen pertama dari sebuah parent (elemen pembungkusnya)

	:last-child
	memilih elemen terakhir dari sebuah parent (elemen pembungkusnya)

	:nth-child(n)
	memilih elemen ke-n dari sebuah parent (elemen pembungkusnya).

	n bisa berarti urutan (1),(2), atau pola (2n), (3n+2), (4n-1) atau 
	ganjil dan genap (even) & (odd)


	contoh ul punya child li(tag html)
*/

li:first-child a {
	color: green;
}

li:nth-child(3n-2) a {
	/*jika ingin kelipatan tiga, tetapi dari 1*/
	color: red;
}

li:nth-child(odd) a:hover {
	color: blueviolet;
}

/*
	pseudo-class yang berhubungan dengan posisi elemen (2)

	:first-of-type
	memilih elemen pertama dari sebuah jenis / tipe tag

	:last-of-type
	memilih elemen terakhir dari sebuah jenis / tipe tag
*/

p:first-of-type {
	color: red;
}

