.container1 {
	width: 1400px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}

/*.satu, .dua, .tiga {
	width: 100px;
	height: 100px;
}*/

/*.satu {
	background-color: salmon;
}

.dua {
	background-color: limegreen;
	/*float: left;*/
	/*kotak ini dianggap tidak ada, karena sudah keluar dari normal flow*/


}

/*.tiga {*/
	/*background-color: lightblue;*/
/*}*/

/*
	text wrapping
	membuat teks mengelilingi gambar / elemen lain


	image gallery
	membuat serangkaian gambar menjadi galeri

	multi-column layout
	membuat halaman memiliki beberapa kolom

*/

img {
	float: left;
	margin: 5px;
}

.clear {
	clear: left;
}



.container2 {
	width: 600px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}

.kotak {
	width: 80px;
	height: 80px;
	color: white;
	background-color: salmon;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	margin: 2px;
	float: left;
}


.container3 {
	width: 800px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}

.kiri {
	width: 150px;
	height: 500px;
	background-color: salmon;
	float: left;
}

.tengah {
	width: 500px;
	height: 500px;
	background-color: lightskyblue;
	float: left;

}

.kanan {
	width: 150px;
	height: 500px;
	background-color: limegreen;
	float: left;

}